/* body background color ivory, text color gray */
body { 
	background-color: #FFFFF0; 
	color: gray;
}

/* h1 font size 35 pixels */ 
h1 { 
	font-size: 35px;
	border-style: dotted;
	border-width: 2px;
	width: 500px;
	height: 50px;
	padding-left: 35px;
}

.firstdiv { 
	background-color: #E0FFFF; /* light cyan */
}

/* p font size 16 pixels, text Dark Blue, background Lavender */ 
p { 
	font-size: 16px; 
	color: #00008B; 
	background-color: #E6E6FA;
}

/* replace ordered list numbers with letters */
ol {
	list-style-type: upper-latin;
 }

/* replace unordered list dots with squares */
ul {
	list-style-type: square;
 }

a {
 	background-color: #7FFFD4;  /* aquamarine */
 	border-radius: 15px;   /* rounded corners */
 	text-decoration: none;  /* removed underline */
 }

/* div border to dotted and 2 pixels wide, div width and height 200,
use class selector (e.g. profile-image */
.box { 
	border-style: dotted;
	border-width: 2px;
	width: 200px;
	height: 200px;
}

/* link to upper left corner */
.topleft {
  top: 0px;
  left: 0px;
}

.padded { 
	padding-left: 35px }

